<div class="devise-head">
  <a class="back" href="<%= root_path %>"><i class="fa-solid fa-arrow-left"></i></a>
  <h2 class="devise-title">SIGN UP</h2>
  <span>sign up</span>
</div>
<section class="devise-form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full name" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

 <div class="field">
   <div class="sr-only">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% else %>
        <%= f.label :password %><br />
      <% end %>
    </div>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (6 characters minimum)" %>
  </div>


  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Cornfirm password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "submit-button" %>
  </div>
<% end %>
</section>
<div class="add-ons">
  <%= render "devise/shared/links" %>
</div>
