
<section class="devise-form">
<a class="back" href="<%= root_path %>">&#8592;</a>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h2 class="devise-title">SIGN UP</h2>
  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full name" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

 <div class="field">
   <div class="sr-only">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% else %>
        <%= f.label :password %><br />
      <% end %>
    </div>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (6 characters minimum)" %>
  </div>


  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Cornfirm password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "submit-button" %>
  </div>
<% end %>
<div class="add-ons register">
 <span>Already Signed in?</span>
  <%= render "devise/shared/links" %>
</div>
</section>
