<div class="devise-head">
  <a class="back" href="<%= root_path %>"><i class="fa-solid fa-arrow-left"></i></a>
  <h2 class="devise-title">LOGIN</h2>
  <span>Log In</span>
</div>
<section class="devise-form">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: "submit-button" %>
  </div>
<% end %>
</section>
<div class="add-ons">
  <%= render "devise/shared/links" %>
</div>
