<section class="devise-form">
<a class="back" href="<%= root_path %>">&#8592;</a>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h2 class="devise-title">LOGIN</h2>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: "submit-button" %>
  </div>
<% end %>
<div class="add-ons session">
  <%= render "devise/shared/links" %>
</div>
</section>
