<div class="devise-head">
  <i class="fa-solid fa-bars"></i>
  <h1>Categories</h1>
  <i class="fa-solid fa-magnifying-glass"></i>
</div>

<% @categories.each do |category| %>
  <a href="<%= category_entities_path(category)%>" class="card">
    <p class="icon"><i class="<%= category.icon %>"></i></p>
    <h3 class="card-title"><%= category.name %></h3>
    <p>Total Amount: $<%= category.entities.sum(:amount) %></p>
  </a>
<% end %>

<%= link_to "Add a new category", new_category_path, class: "new-category" %>
