<div class="devise-head">
  <a class="back" href="<%= categories_path %>"><i class="fa-solid fa-arrow-left"></i></a>
  <h2 class="devise-title">Create Category</h2>
  <span></span>
</div>
<section class="devise-form">
<%= form_with(model: @category, url: categories_path) do |form| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, placeholder: "Category name" %>
  </div>

  <div class="field">
    <%= form.select :icon, options_for_select([['Rentals', 'fa-solid fa-truck-moving'], ['lesure', 'fa-solid fa-icons'], ['Food', 'fa-solid fa-cart-shopping'], ['Clothes', 'fa-solid fa-clothes-hanger'], ['House bills', 'fa-solid fa-money-bill'], ['Body Care', 'fa-solid fa-kidneys'], ['Family Finance', 'fa-solid fa-family']]) %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "submit-button" %>
  </div>
<% end %>
</section>

